name: NPAS Backup

on:
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: engineerd/setup-kind@v0.5.0

      - run: kind create cluster --name npas-demo

      - name: Backup Apps
        run: |
          export kubeconfig=$HOME/.kube/config
          source shell/velero_app_backup.sh
