name: Deploy Platform

on:
  workflow_dispatch:

jobs:
  deploy-platform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: engineerd/setup-kind@v0.5.0
      - run: kind create cluster --name npas-demo

      - name: Deploy platform
        run: |
          export kubeconfig=$HOME/.kube/config
          source shell/upgradehelmcharts.sh platform/platformselector.yaml
