name: Setup Authentication

on:
  workflow_dispatch:

jobs:
  auth:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: engineerd/setup-kind@v0.5.0
      - run: kind create cluster --name npas-demo

      - name: LDAP Federation
        run: |
          source shell/userfederation.sh authentication/keycloak/userfederation.json

      - name: Create Users
        run: |
          source shell/keycloakusers.sh
