name: Deploy Applications

on:
  workflow_dispatch:

jobs:
  deploy-apps:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: engineerd/setup-kind@v0.5.0
      - run: kind create cluster --name npas-demo

      - name: Inject Fluentbit
        run: |
          sed -i 's/\r$//' fluentbitconfig/fluentconf-injector.sh
          source fluentbitconfig/fluentconf-injector.sh applications/applicationselector.yaml

      - name: Deploy apps
        run: |
          source shell/upgradehelmcharts.sh applications/applicationselector.yaml
